@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #2ebaa1;
    border-radius: px;
  }